<section>

    <div class="row">

        {{#each products}}
        
        <div class="col-md-12">


            <ul class="list-group">
                <li class="list-group-item">{{this.name}}</li>
            </ul>


        </div>

        {{/each}}
    
    </div>

</section>